# Local configuration files 
.DS_Store
.vscode/

# Environment files
.env
.env.*
# Allow an example .env file
!.env.example

# Contains all of the project dependencies
node_modules

# Common directories
[Bb]uild/
[Ll]ogs/
[Cc]overage/
[Dd]ata/
[Mm]odels/
[Tt]mp/

# LLMFlux build directories
.cache/
.vllm/


# npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

