# Fill in and rename to config.json
{
    "host": "127.0.0.1",
    "port": 8001,
    "log_file": "logs/Latest.log",
    "illinois_chat_url": "https://my.chat/api",
    "illinois_chat_api_key": "my_api_key",
    "illinois_chat_model": "Qwen/Qwen2.5-VL-72B-Instruct",
    "illinois_chat_system_prompt": "You are a helpful assistant that can answer questions about the Delta and Delta AI documentation. You are also able to answer questions about the Delta and Delta AI software."
}